<tr>
    <td><input type="checkbox" ng-model="todo.item.completed"></td>
    <td><input type="text" ng-model="todo.item.content" ng-change="todo.update(todo.item)"
               ng-model-options="{ updateOn: 'blur' }" ></td>
    <td><p class="input-group">
        <input type="date" class="form-control" uib-datepicker-popup ng-model="todo.item.dueDate" is-open="todo.openedPopup" min-date="todo.minDate" datepicker-options="todo.dateOptions"  close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="todo.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </p></td>
</tr>
