<div class="row" ng-cloak>
        <div ng-switch="isAuthenticated()">
            <div ng-switch-when="true" >
                <div class="col-sm-3 col-md-2 sidebar">
                    <h1 >
                        <span>Lists</span>
                        <button class='btn btn-primary pull-right glyphicon glyphicon-plus' ng-click="newList()"></button>
                    </h1>
                    <ul class="nav nav-sidebar">
                        <li ng-repeat="list in todoLists"   ng-click="select($index,list)"
                            ng-class="{'active':openedList.index == $index}">
                            <a href="#">{{list.subject}}</a></li>
                    </ul>

                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h1 class="page-header">Details</h1>
                    You are logged in as user "{{account.login}}".
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" ng-model="openedList.subject" ng-change="editListSubject()"
                                   ng-model-options="{ updateOn: 'blur' }" class="form-control" name="subject" id="subject" >
                        </div>
                        </form>
                    <todo-item item="item" update="editTodo(item)" delete-item="deleteTodo(item,$index)" show-delete="true" ng-repeat="item in openedList.todos"></todo-item>
                    <todo-item item="newItem" update="newTodo()" show-delete="false"></todo-item>
            </div>
            </div>

        </div>
</div>
