
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTodoItemLabel" translate="todoApp.todoItem.home.createOrEditLabel">Create or edit a TodoItem</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="todoItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="todoApp.todoItem.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="todoItem.content"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="todoApp.todoItem.completed" for="field_completed">Completed</label>
            <input type="checkbox" class="form-control" name="completed" id="field_completed"
                    ng-model="todoItem.completed"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="todoApp.todoItem.dueDate" for="field_dueDate">DueDate</label>
            <input id="field_dueDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="todoItem.dueDate" is-open="datePickerForDueDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForDueDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

        <div class="form-group">
            <label translate="todoApp.todoItem.todoList" for="field_todoList">todoList</label>
            <select class="form-control" id="field_todoList" name="todoList" ng-model="todoItem.todoList" ng-options="todoList as todoList.subject for todoList in todolists track by todoList.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
