
<div>
    <h2><span translate="todoApp.todoItem.detail.title">TodoItem</span> {{todoItem.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="todoApp.todoItem.content">Content</span>
                </td>
                <td>
                    <span class="form-control-static">{{todoItem.content}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="todoApp.todoItem.completed">Completed</span>
                </td>
                <td>
                    <span class="form-control-static">{{todoItem.completed}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="todoApp.todoItem.dueDate">DueDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{todoItem.dueDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="todoApp.todoItem.todoList">todoList</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="todoList.detail({id:todoItem.todoList.id})">{{todoItem.todoList.subject}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
