<div>
    <h2 translate="todoApp.todoItem.home.title">TodoItems</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="todoItem.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="todoApp.todoItem.home.createLabel">Create a new TodoItem</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span translate="todoApp.todoItem.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="completed"><span translate="todoApp.todoItem.completed">Completed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dueDate"><span translate="todoApp.todoItem.dueDate">DueDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="todoList.subject"><span translate="todoApp.todoItem.todoList">todoList</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="todoItem in todoItems track by todoItem.id">
                    <td><a ui-sref="todoItem.detail({id:todoItem.id})">{{todoItem.id}}</a></td>
                    <td>{{todoItem.content}}</td>
                    <td>{{todoItem.completed}}</td>
                        <td>{{todoItem.dueDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="todoList.detail({id:todoItem.todoList.id})">{{todoItem.todoList.subject}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="todoItem.detail({id:todoItem.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="todoItem.edit({id:todoItem.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="todoItem.delete({id:todoItem.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
