
<div>
    <h2><span translate="todoApp.todoList.detail.title">TodoList</span> {{todoList.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="todoApp.todoList.subject">Subject</span>
                </td>
                <td>
                    <span class="form-control-static">{{todoList.subject}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="todoApp.todoList.user">user</span>
                </td>
                <td>
                    {{todoList.user.login}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
